.pdf-preview-card {
    position: relative;
}

.pdf-preview-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.pdf-preview-overlay:hover {
    opacity: 1;
}

.pdf-preview-icon {
    color: #fff;
    font-size: 2rem;
}